*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  display: flex;
  width: 100vw;
  height: 88vh;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-image: url("../../public/login.png");
}

.box {
  display: flex;
  width: 50vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.inner_box {
  display: flex;
  width: 22vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
}

.image {
  display: flex;
  width: 20vw;
  height: 60vh;
}

.label {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.button_box {
  display: flex;
  width: 350px;
  height: 50px;
  justify-content: right;
  align-items: center;
}

.signup_button {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #699da1;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.signup_button:hover {
  background-color: #8ec1c6;
  transition: 0.2s;
}

.text {
  display: flex;
  width: 350px;
  justify-content: right;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 15px;
}
